<a href="https://colab.research.google.com/github/sasikumar555/sasikumar555/blob/main/TV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-assignment

1. Syntax and Semantics

In [ ]:
# Question 1: Write a Python program to print "Hello, World!".
print("Hello, World!")

Hello, World!

In [ ]:
# Question 2: Write a Python program that takes a user input and prints it.
user_input = input("Enter something: ")
print("You entered:", user_input)

Enter something: 5
You entered: 5

In [ ]:
# Question 3: Write a Python program to check if a number is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 5
Positive

In [ ]:
# Question 4: Write a Python program to find the largest of three numbers.
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 4
Enter second number: 5
Enter third number: 6
The largest number is: 6.0

In [ ]:
# Question 5: Write a Python program to calculate the factorial of a number.
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial is:", factorial)

Enter a number: 4
Factorial is: 24

2. Variables and Data Types

In [ ]:
# Question 6: Create variables of different data types: integer, float, string, and boolean. Print their values and types.
i = 10
f = 3.14
s = "Python"
b = True

print(i, type(i))
print(f, type(f))
print(s, type(s))
print(b, type(b))

10 <class 'int'>
3.14 <class 'float'>
Python <class 'str'>
True <class 'bool'>

In [ ]:
# Question 7: Write a Python program to swap the values of two variables.
x = 5
y = 10
x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5

In [ ]:
# Question 8: Write a Python program to convert Celsius to Fahrenheit.
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 45
Temperature in Fahrenheit: 113.0

In [ ]:
# Question 9: Write a Python program to concatenate two strings.
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [ ]:
# Question 10: Write a Python program to check if a variable is of a specific data type.
x = 5
if isinstance(x, int):
    print("x is an integer")

x is an integer

3. Basic Operators (Arithmetic, Comparison, Logical)

In [ ]:
# Question 11: Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335

In [ ]:
# Question 12: Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.
x = 5
y = 7
print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)

x == y: False
x != y: True
x > y: False
x < y: True

In [ ]:
# Question 13: Write a Python program to demonstrate logical operators: and, or, not.
a = True
b = False
print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)

a and b: False
a or b: True
not a: False

In [ ]:
# Question 14: Write a Python program to calculate the square of a number.
num = float(input("Enter a number: "))
square = num ** 2
print("Square is:", square)

Enter a number: 5
Square is: 25.0

In [ ]:
# Question 15: Write a Python program to check if a number is even or odd.
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 45
Odd

In [ ]:
# Question 16: Write a Python program to find the sum of the first n natural numbers.
n = int(input("Enter a number: "))
total = n * (n + 1) // 2
print("Sum of first", n, "natural numbers is:", total)

Enter a number: 5
Sum of first 5 natural numbers is: 15

In [ ]:
# Question 17: Write a Python program to check if a year is a leap year.
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2001
2001 is not a leap year

In [ ]:
# Question 18: Write a Python program to reverse a string.
s = input("Enter a string: ")
reversed_s = s[::-1]
print("Reversed string:", reversed_s)

Enter a string: sasi
Reversed string: isas

In [ ]:
# Question 19: Write a Python program to check if a string is a palindrome.
s = input("Enter a string: ")
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: sasi
Not a palindrome

In [ ]:
# Question 20: Write a Python program to sort a list of numbers in ascending order.
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
numbers.sort()
print("Sorted list:", numbers)

Enter numbers separated by space: 1 2 3 4
Sorted list: [1, 2, 3, 4]

Lesson 2.1: Conditional Statements

In [ ]:
# Assignment 1: Simple if Statement
# Write a program that asks the user to input a number and prints whether the number is positive.
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")

Enter a number: 5
The number is positive.

In [ ]:
# Assignment 2: if-else Statement
# Write a program that asks the user to input a number and prints whether the number is positive or negative.
num = float(input("Enter a number: "))
if num >= 0:
    print("The number is positive.")
else:
    print("The number is negative.")

Enter a number: 5
The number is positive.

In [ ]:
# Assignment 3: if-elif-else Statement
# Write a program that asks the user to input a number and prints whether the number is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 5
Positive

In [ ]:
# Assignment 4: Nested if Statement
# Write a program that asks the user to input a number and prints whether the number is positive and even, positive and odd, or negative.
num = int(input("Enter a number: "))
if num > 0:
    if num % 2 == 0:
        print("Positive and even")
    else:
        print("Positive and odd")
else:
    print("Negative")

Enter a number: 5
Positive and odd

Lesson 2.2: Loops

In [ ]:
# Assignment 5: for Loop
# Write a program that prints all the numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Assignment 6: while Loop
# Write a program that prints all the numbers from 1 to 10 using a while loop.
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Assignment 7: Nested Loops
# Write a program that prints a 5x5 grid of asterisks (*) using nested loops.
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Assignment 8: break Statement
# Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.
total = 0
while True:
    num = float(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    total += num
print("Total sum:", total)

Enter a number (0 to stop): 5
Enter a number (0 to stop): 0
Total sum: 5.0

In [ ]:
# Assignment 9: continue Statement
# Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# Assignment 10: pass Statement
# Write a program that defines an empty function using the pass statement.
def my_function():
    pass

In [ ]:
# Assignment 11: Combining Loops and Conditionals
# Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    if i % 2 == 0:
        print(i)

Enter a number: 5
2
4

In [ ]:
# Assignment 12: Factorial Calculation
# Write a program that calculates the factorial of a number input by the user using a while loop.
num = int(input("Enter a number: "))
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print("Factorial is:", fact)

Enter a number: 5
Factorial is: 120

In [ ]:
# Assignment 13: Sum of Digits
# Write a program that calculates the sum of the digits of a number input by the user using a while loop.
num = int(input("Enter a number: "))
total = 0
while num > 0:
    digit = num % 10
    total += digit
    num //= 10
print("Sum of digits:", total)

Enter a number: 5
Sum of digits: 5

In [ ]:
# Assignment 14: Prime Number Check
# Write a program that checks if a number input by the user is a prime number using a for loop.
num = int(input("Enter a number: "))
if num < 2:
    print("Not a prime number")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print("Prime number")
    else:
        print("Not a prime number")

Enter a number: 5
Prime number

In [ ]:
# Assignment 15: Fibonacci Sequence
# Write a program that prints the first n Fibonacci numbers, where n is input by the user.
n = int(input("Enter the number of Fibonacci terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter the number of Fibonacci terms: 5
0 1 1 2 3

Lesson 3.1: Lists

In [ ]:
# Assignment 1: Creating and Accessing Lists
# Create a list of the first 20 positive integers. Print the list.
nums = list(range(1, 21))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Assignment 2: Accessing List Elements
# Print the first, middle, and last elements of the list created in Assignment 1.
print("First:", nums[0])
print("Middle:", nums[len(nums) // 2])
print("Last:", nums[-1])

First: 1
Middle: 11
Last: 20

In [ ]:
# Assignment 3: List Slicing
# Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list.
print("First five:", nums[:5])
print("Last five:", nums[-5:])
print("Index 5 to 15:", nums[5:16])

First five: [1, 2, 3, 4, 5]
Last five: [16, 17, 18, 19, 20]
Index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
# Assignment 4: List Comprehensions
# Create a new list containing the squares of the first 10 positive integers using a list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Assignment 5: Filtering Lists
# Create a new list containing only the even numbers from the list using a list comprehension.
evens = [x for x in nums if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Assignment 6: List Methods
# Create a list of random numbers, sort it in ascending and descending order, remove duplicates, and print the modified list.
random_nums = [4, 2, 9, 4, 1, 7, 2, 5]
unique_nums = list(set(random_nums))
unique_nums.sort()
print("Ascending:", unique_nums)
unique_nums.sort(reverse=True)
print("Descending:", unique_nums)

Ascending: [1, 2, 4, 5, 7, 9]
Descending: [9, 7, 5, 4, 2, 1]

In [ ]:
# Assignment 7: Nested Lists
# Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("Matrix:")
for row in matrix:
    print(row)
print("Element at [1][2]:", matrix[1][2])

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at [1][2]: 6

In [ ]:
# Assignment 8: List of Dictionaries
# Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'.
# Sort the list by 'score' in descending order and print the sorted list.
students = [
    {"name": "Alice", "score": 85},
    {"name": "Bob", "score": 92},
    {"name": "Charlie", "score": 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print(sorted_students)

[{'name': 'Bob', 'score': 92}, {'name': 'Alice', 'score': 85}, {'name': 'Charlie', 'score': 78}]

In [ ]:
# Assignment 9: Matrix Transposition
# Write a function that takes a 3x3 matrix as input and returns its transpose. Print both.
def transpose(matrix):
    return [[matrix[j][i] for j in range(3)] for i in range(3)]

original = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = transpose(original)
print("Original:", original)
print("Transposed:", transposed)

Original: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# Assignment 10: Flattening a Nested List
# Write a function that takes a nested list and flattens it into a single list. Print both lists.
def flatten(nested):
    return [item for sublist in nested for item in sublist]

nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = flatten(nested_list)
print("Original:", nested_list)
print("Flattened:", flat_list)

Original: [[1, 2], [3, 4], [5, 6]]
Flattened: [1, 2, 3, 4, 5, 6]

In [ ]:
# Assignment 11: List Manipulation
# Create a list of the first 10 positive integers. Remove elements at indices 2, 4, 6, and insert '99' at index 5.
lst = list(range(1, 11))
for idx in sorted([6, 4, 2], reverse=True):
    lst.pop(idx)
lst.insert(5, 99)
print("Modified list:", lst)

Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [ ]:
# Assignment 12: List Zipping
# Create two lists and zip them into a list of tuples. Print the result.
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
zipped = list(zip(list1, list2))
print(zipped)

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
# Assignment 13: List Reversal
# Write a function that returns a reversed version of a list. Print both lists.
def reverse_list(lst):
    return lst[::-1]

original = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original)
print("Original:", original)
print("Reversed:", reversed_list)

Original: [1, 2, 3, 4, 5]
Reversed: [5, 4, 3, 2, 1]

In [ ]:
# Assignment 14: List Rotation
# Write a function that rotates a list by n positions.
def rotate_list(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

lst = [1, 2, 3, 4, 5]
rotated = rotate_list(lst, 2)
print("Original:", lst)
print("Rotated by 2:", rotated)

Original: [1, 2, 3, 4, 5]
Rotated by 2: [3, 4, 5, 1, 2]

In [ ]:
# Assignment 15: List Intersection
# Write a function that returns a list of elements present in both input lists.
def intersect_lists(a, b):
    return [x for x in a if x in b]

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
intersection = intersect_lists(list1, list2)
print("Intersection:", intersection)

Intersection: [3, 4]

Lesson 3.2 - Tuples

In [ ]:
# Assignment 1: Creating and Accessing Tuples
# Create a tuple with the first 10 positive integers. Print the tuple.
tup = tuple(range(1, 11))
print("Tuple:", tup)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Assignment 2: Accessing Tuple Elements
# Print the first, middle, and last elements of the tuple created in Assignment 1.
print("First:", tup[0])
print("Middle:", tup[len(tup)//2])
print("Last:", tup[-1])

First: 1
Middle: 6
Last: 10

In [ ]:
# Assignment 3: Tuple Slicing
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple.
print("First 3:", tup[:3])
print("Last 3:", tup[-3:])
print("Index 2 to 5:", tup[2:6])

First 3: (1, 2, 3)
Last 3: (8, 9, 10)
Index 2 to 5: (3, 4, 5, 6)

In [ ]:
# Assignment 4: Nested Tuples
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print("Matrix:", matrix)
print("Element at 2nd row, 3rd column:", matrix[1][2])

Matrix: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Element at 2nd row, 3rd column: 6

In [ ]:
# Assignment 5: Tuple Concatenation
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print("Concatenated Tuple:", t1 + t2)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
# Assignment 6: Tuple Methods
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
dup_tup = (1, 2, 3, 2, 4, 2)
print("Count of 2:", dup_tup.count(2))
print("Index of first 2:", dup_tup.index(2))

Count of 2: 3
Index of first 2: 1

In [ ]:
# Assignment 7: Unpacking Tuples
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
a, b, c, d, e = (10, 20, 30, 40, 50)
print(a, b, c, d, e)

10 20 30 40 50

In [ ]:
# Assignment 8: Tuple Conversion
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst = [1, 2, 3, 4, 5]
converted = tuple(lst)
print("Converted Tuple:", converted)

Converted Tuple: (1, 2, 3, 4, 5)

In [ ]:
# Assignment 10: Tuple and List
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup = (1, 2, 3, 4, 5)
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print("Modified Tuple:", tup)

Modified Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
# Assignment 11: Tuple and String
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
char_tuple = tuple("hello")
joined = "".join(char_tuple)
print("Joined String:", joined)

Joined String: hello

In [ ]:
# Assignment 12: Tuple and Dictionary
# Create a dictionary with tuple keys and integer values. Print the dictionary.
dict_with_tuples = { (1, 2): 100, (3, 4): 200, (5, 6): 300 }
print("Dictionary:", dict_with_tuples)

Dictionary: {(1, 2): 100, (3, 4): 200, (5, 6): 300}

In [ ]:
# Assignment 13: Nested Tuple Iteration
# Create a nested tuple and iterate over the elements, printing each element.
nested = ((1, 2), (3, 4), (5, 6))
for sub in nested:
    for val in sub:
        print(val)

1
2
3
4
5
6

In [ ]:
# Assignment 14: Tuple and Set
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
dup_tuple = (1, 2, 2, 3, 4, 4, 5)
unique = set(dup_tuple)
print("Set with unique values:", unique)

Set with unique values: {1, 2, 3, 4, 5}

In [ ]:
# Assignment 15: Tuple Functions
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def tuple_stats(t):
    return min(t), max(t), sum(t)

sample = (10, 20, 30, 40, 50)
mn, mx, total = tuple_stats(sample)
print("Min:", mn, "Max:", mx, "Sum:", total)

Min: 10 Max: 50 Sum: 150

Lesson 3.3 – Sets

In [ ]:
# Assignment 1: Create a set with the first 10 positive integers. Print the set.
s = set(range(1, 11))
print("Set:", s)

Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# Assignment 2: Add 11 to the set and remove 1. Print the modified set.
s.add(11)
s.remove(1)
print("Modified Set:", s)

Modified Set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
# Assignment 3: Perform union, intersection, difference, and symmetric difference.
set1 = set(range(1, 6))
set2 = set([2, 4, 6, 8, 10])
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)
print("Symmetric Difference:", set1 ^ set2)

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference: {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [ ]:
# Assignment 4: Create a set with the squares of the first 10 positive integers.
squares = {x ** 2 for x in range(1, 11)}
print("Squares Set:", squares)

Squares Set: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
# Assignment 5: Create a set with only the even numbers from the set created earlier.
even_nums = {x for x in s if x % 2 == 0}
print("Even Numbers Set:", even_nums)

Even Numbers Set: {2, 4, 6, 8, 10}

In [ ]:
# Assignment 6: Create a set with duplicate elements and remove duplicates using set methods. Print the modified set.
dup_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(dup_list)
print("Set with duplicates removed:", unique_set)

Set with duplicates removed: {1, 2, 3, 4, 5}

In [ ]:
# Assignment 7: Check if one set is a subset/superset of another and print the results.
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}
print("Is set_b a subset of set_a?", set_b.issubset(set_a))
print("Is set_a a superset of set_b?", set_a.issuperset(set_b))

Is set_b a subset of set_a? True
Is set_a a superset of set_b? True

In [ ]:
# Assignment 8: Create a frozenset with the first 5 positive integers and print it.
frozen = frozenset(range(1, 6))
print("Frozenset:", frozen)

Frozenset: frozenset({1, 2, 3, 4, 5})

In [ ]:
# Assignment 9: Convert a set to a list, append 6, convert back to a set, and print.
my_set = set(range(1, 6))
temp_list = list(my_set)
temp_list.append(6)
new_set = set(temp_list)
print("Modified Set:", new_set)

Modified Set: {1, 2, 3, 4, 5, 6}

In [ ]:
# Assignment 10: Create a dictionary with tuple keys (since sets can't be keys) and integer values.
my_dict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}
print("Dictionary with tuple keys:", my_dict)

Dictionary with tuple keys: {(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [ ]:
# Assignment 11: Create a set and iterate over the elements, printing each element.
my_set = {1, 2, 3, 4, 5}
print("Elements in the set:")
for item in my_set:
    print(item)

Elements in the set:
1
2
3
4
5

In [ ]:
# Assignment 12: Create a set and remove elements until it is empty. Print after each removal.
my_set = {1, 2, 3, 4, 5}
while my_set:
    removed = my_set.pop()
    print(f"Removed: {removed}, Remaining Set: {my_set}")

Removed: 1, Remaining Set: {2, 3, 4, 5}
Removed: 2, Remaining Set: {3, 4, 5}
Removed: 3, Remaining Set: {4, 5}
Removed: 4, Remaining Set: {5}
Removed: 5, Remaining Set: set()

In [ ]:
# Assignment 13: Update the first set with the symmetric difference of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print("Modified Set1 after symmetric difference update:", set1)

Modified Set1 after symmetric difference update: {1, 2, 4, 5}

In [ ]:
# Assignment 14: Create a set and test if certain elements are present. Print results.
s = {10, 20, 30, 40, 50}
print("Is 20 in the set?", 20 in s)
print("Is 100 in the set?", 100 in s)

Is 20 in the set? True
Is 100 in the set? False

In [ ]:
# Assignment 15: Create a set containing tuples, where each tuple contains two elements. Print the set.
tuple_set = {(1, 2), (3, 4), (5, 6)}
print("Set of tuples:", tuple_set)

Set of tuples: {(1, 2), (3, 4), (5, 6)}

Lesson 3.4 – Dictionaries

In [ ]:
# Assignment 1: Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.
squares = {i: i**2 for i in range(1, 11)}
print("Dictionary of squares:", squares)

Dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Assignment 2: Print the value of the key 5 and the keys of the dictionary created in Assignment 1.
print("Value for key 5:", squares[5])
print("All keys in the dictionary:", list(squares.keys()))

Value for key 5: 25
All keys in the dictionary: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Assignment 3: Add (11, 121) and remove key 1. Print the modified dictionary.
squares[11] = 121
squares.pop(1)
print("Modified dictionary:", squares)

Modified dictionary: {2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [ ]:
# Assignment 4: Iterate over the dictionary and print key-value pairs.
for key, value in squares.items():
    print(f"Key: {key}, Value: {value}")

Key: 2, Value: 4
Key: 3, Value: 9
Key: 4, Value: 16
Key: 5, Value: 25
Key: 6, Value: 36
Key: 7, Value: 49
Key: 8, Value: 64
Key: 9, Value: 81
Key: 10, Value: 100
Key: 11, Value: 121

In [ ]:
# Assignment 5: Create a new dictionary with cubes of first 10 positive integers using comprehension.
cubes = {i: i**3 for i in range(1, 11)}
print("Dictionary of cubes:", cubes)

Dictionary of cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
# Assignment 6: Merge two dictionaries of squares
dict1 = {i: i**2 for i in range(1, 6)}
dict2 = {i: i**2 for i in range(6, 11)}
merged = {**dict1, **dict2}
print("Merged dictionary:", merged)

Merged dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Assignment 7: Nested dictionary for student info
student = {
    'name': 'Alice',
    'age': 17,
    'grades': {
        'math': 95,
        'science': 89,
        'english': 92
    }
}
print("Student dictionary:", student)

Student dictionary: {'name': 'Alice', 'age': 17, 'grades': {'math': 95, 'science': 89, 'english': 92}}

In [ ]:
# Assignment 8: Dictionary with lists of multiples
multiples = {i: [i * j for j in range(1, 6)] for i in range(1, 6)}
print("Multiples dictionary:", multiples)

Multiples dictionary: {1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [ ]:
# Assignment 9: Dictionary with tuples (number, square)
tuples_dict = {i: (i, i**2) for i in range(1, 6)}
print("Dictionary of tuples:", tuples_dict)

Dictionary of tuples: {1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [ ]:
# Assignment 10: Convert dictionary to list of tuples
dict_ = {i: i**2 for i in range(1, 6)}
tuple_list = list(dict_.items())
print("List of tuples:", tuple_list)

List of tuples: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# Assignment 11: Filter dictionary to keep only even keys
original_dict = {i: i**2 for i in range(1, 11)}
even_keys_dict = {k: v for k, v in original_dict.items() if k % 2 == 0}
print("Filtered dictionary (even keys):", even_keys_dict)

Filtered dictionary (even keys): {2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# Assignment 12: Swap keys and values
original_dict = {i: i**2 for i in range(1, 6)}
swapped_dict = {v: k for k, v in original_dict.items()}
print("Swapped dictionary:", swapped_dict)

Swapped dictionary: {1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [ ]:
# Assignment 13: Use defaultdict with lists
from collections import defaultdict

d = defaultdict(list)
d['a'].extend([1, 2])
d['b'].append(3)
print("Default dictionary:", dict(d))

Default dictionary: {'a': [1, 2], 'b': [3]}

In [ ]:
# Assignment 14: Count character frequency in a string
def char_count(s):
    count = {}
    for c in s:
        count[c] = count.get(c, 0) + 1
    return count

print("Character count:", char_count("hello world"))

Character count: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
# Assignment 15: Convert dictionary to JSON string
import json

book = {
    'title': '1984',
    'author': 'George Orwell',
    'year': 1949,
    'genre': 'Dystopian'
}
book_json = json.dumps(book)
print("Book JSON:", book_json)

Book JSON: {"title": "1984", "author": "George Orwell", "year": 1949, "genre": "Dystopian"}

Module 4: Functions Assignments

Lesson 4.1: Defining Functions

In [ ]:
# Assignment 1
# Define a function that takes a single integer as input and returns its square. Test the function with different inputs.

def square(n):
    return n ** 2

print("Assignment 1:", square(4), square(10))

Assignment 1: 16 100

In [ ]:
# Assignment 2
# Define a function that takes two integers as input and returns their sum. Test the function with different inputs.

def add(a, b):
    return a + b

print("Assignment 2:", add(3, 5), add(10, 20))

Assignment 2: 8 30

In [ ]:
# Assignment 3
# Define a function that takes two integers as input and returns their sum. The second integer should have a default value of 5. Test the function with different inputs.

def add_default(a, b=5):
    return a + b

print("Assignment 3:", add_default(3), add_default(3, 7))

Assignment 3: 8 10

In [ ]:
# Assignment 4
# Define a function that takes three named arguments: first_name, last_name, and age, and returns a formatted string. Test the function with different inputs.

def format_person(first_name, last_name, age):
    return f"{first_name} {last_name} is {age} years old."

print("Assignment 4:", format_person(first_name="John", last_name="Doe", age=30))

Assignment 4: John Doe is 30 years old.

In [ ]:
# Assignment 5
# Define a function that takes a variable number of integer arguments and returns their product. Test the function with different inputs.

def product(*args):
    result = 1
    for num in args:
        result *= num
    return result

print("Assignment 5:", product(1, 2, 3), product(4, 5))

Assignment 5: 6 20

In [ ]:
# Assignment 6
# Define a function that contains another function inside it.
# The outer function should take two integers as input and return the result of the inner function, which multiplies the two integers.
# Test the function with different inputs.

def outer_mul(a, b):
    def inner_mul(x, y):
        return x * y
    return inner_mul(a, b)

print("Assignment 6:", outer_mul(3, 4), outer_mul(5, 6))

Assignment 6: 12 30

In [ ]:
# Assignment 7
# Define a function that takes a single integer as input and returns the integer squared, cubed, and raised to the power of four. Test the function with different inputs.

def powers(n):
    return n**2, n**3, n**4

print("Assignment 7:", powers(2), powers(3))

Assignment 7: (4, 8, 16) (9, 27, 81)

In [ ]:
# Assignment 8
# Define a recursive function that calculates the factorial of a given number. Test the function with different inputs.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print("Assignment 8:", factorial(5), factorial(7))

Assignment 8: 120 5040

In [ ]:
# Assignment 9
# Define a lambda function that takes two integers as input and returns their sum. Test the lambda function with different inputs.

add_lambda = lambda a, b: a + b

print("Assignment 9:", add_lambda(3, 4), add_lambda(10, 20))

Assignment 9: 7 30

In [ ]:
# Assignment 10
# Use the map function to apply a lambda function that squares each number in a list of integers. Test with different lists.

nums = [1, 2, 3, 4]
squared_nums = list(map(lambda x: x**2, nums))

print("Assignment 10:", squared_nums)

Assignment 10: [1, 4, 9, 16]

In [ ]:
# Assignment 11
# Use the filter function to filter out all odd numbers from a list of integers. Test with different lists.

nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, nums))

print("Assignment 11:", evens)

Assignment 11: [2, 4, 6]

In [ ]:
# Assignment 12
# Define a decorator function that prints 'Executing function...' before executing a function and 'Function executed.' after executing it.
# Apply this decorator to a function that takes a list of integers and returns their sum. Test the decorated function with different lists.

def decorator(func):
    def wrapper(lst):
        print("Executing function...")
        result = func(lst)
        print("Function executed.")
        return result
    return wrapper

@decorator
def sum_list(lst):
    return sum(lst)

print("Assignment 12:", sum_list([1, 2, 3, 4]))

Executing function...
Function executed.
Assignment 12: 10

In [ ]:
# Assignment 13
# Define a function that takes variable-length arguments and keyword arguments and prints them. Test the function with different inputs.

def var_args(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

print("Assignment 13:")
var_args(1, 2, 3, name="Alice", age=25)

Assignment 13:
Positional arguments: (1, 2, 3)
Keyword arguments: {'name': 'Alice', 'age': 25}

In [ ]:
# Assignment 14
# Define a higher-order function that takes a function and a list of integers as arguments,
# and applies the function to each integer in the list. Test with different functions and lists.

def apply_func(func, lst):
    return [func(x) for x in lst]

print("Assignment 14:", apply_func(lambda x: x**2, [1, 2, 3, 4]))

Assignment 14: [1, 4, 9, 16]

In [ ]:
# Assignment 15
# Define a function with a docstring that explains what the function does, its parameters, and its return value. Print the function's docstring.

def example_func(a, b):
    """
    This function adds two numbers.
    Parameters:
    a (int): first number
    b (int): second number
    Returns:
    int: sum of a and b
    """
    return a + b

print("Assignment 15 docstring:\n", example_func.__doc__)

Assignment 15 docstring:

    This function adds two numbers.
    Parameters:
    a (int): first number
    b (int): second number
    Returns:
    int: sum of a and b

Advanced Functions Assignments

In [ ]:
# Assignment 1
# Define a recursive function to calculate the nth Fibonacci number using memoization. Test the function with different inputs.

def fibonacci(n, memo={}):
    if n in memo:
        return memo[n]
    if n <= 1:
        return n
    memo[n] = fibonacci(n-1, memo) + fibonacci(n-2, memo)
    return memo[n]

print("Assignment 1:", fibonacci(10), fibonacci(15))

Assignment 1: 55 610

In [ ]:
# Assignment 2
# Define a function that takes two arguments, a and b, where b is a dictionary with a default value of an empty dictionary.
# The function should add a new key-value pair to the dictionary and return it. Test the function with different inputs.

def add_to_dict(a, b=None):
    if b is None:
        b = {}
    b[a] = a * 2
    return b

print("Assignment 2:", add_to_dict(5))
print("Assignment 2:", add_to_dict(3, {'x': 10}))

Assignment 2: {5: 10}
Assignment 2: {'x': 10, 3: 6}

In [ ]:
# Assignment 3
# Define a function that takes a variable number of keyword arguments and returns a dictionary containing only those key-value pairs where the value is an integer.

def filter_int_kwargs(**kwargs):
    result = {}
    for key, value in kwargs.items():
        if type(value) == int:
            result[key] = value
    return result

print("Assignment 3:", filter_int_kwargs(a=1, b="hello", c=5.5, d=4)) # Output: {'a': 1, 'd': 4}

Assignment 3: {'a': 1, 'd': 4}

In [ ]:
# Assignment 4
# Define a function that takes another function as a callback and a list of integers.
# The function applies the callback to each number and returns a new list.

def apply_callback(func, numbers):
    result = []
    for num in numbers:
        result.append(func(num))
    return result

print("Assignment 4:", apply_callback(lambda x: x*2, [1,2,3]))  # Output: [2,4,6]
print("Assignment 4:", apply_callback(lambda x: x+1, [4,5]))    # Output: [5,6]

Assignment 4: [2, 4, 6]
Assignment 4: [5, 6]

In [ ]:
# Assignment 5
# Define a function that returns another function which squares a number.

def make_square_function():
    def square(x):
        return x * x
    return square

square_func = make_square_function()
print("Assignment 5:", square_func(3))  # Output: 9
print("Assignment 5:", square_func(5))  # Output: 25

Assignment 5: 9
Assignment 5: 25

In [ ]:
# Assignment 6
# Define a decorator that prints messages before and after the execution of a function.

import time

def timer_decorator(func):
    def wrapper(*args):
        print("Starting function...")
        start_time = time.time()
        result = func(*args)
        end_time = time.time()
        print(f"Finished function in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@timer_decorator
def add_numbers(n):
    total = 0
    for i in range(n):
        total += i
    return total

print("Assignment 6:", add_numbers(100000))  # Output: sum and timing messages

Starting function...
Finished function in 0.0048 seconds
Assignment 6: 4999950000

In [ ]:
# Assignment 7
# Define a function that filters even numbers and then squares them.

def filter_and_map(filter_func, map_func, numbers):
    filtered = []
    for num in numbers:
        if filter_func(num):
            filtered.append(map_func(num))
    return filtered

print("Assignment 7:", filter_and_map(lambda x: x % 2 == 0, lambda x: x*x, [1,2,3,4]))
# Output: [4, 16]

Assignment 7: [4, 16]

In [ ]:
# Assignment 8
# Define a function to compose two functions f(g(x)).

def compose(f, g):
    def composed(x):
        return f(g(x))
    return composed

def add_two(x):
    return x + 2

def times_three(x):
    return x * 3

new_func = compose(add_two, times_three)
print("Assignment 8:", new_func(4))  # Output: 14 because 3*4=12 +2=14

Assignment 8: 14

In [ ]:
# Assignment 9
# Use functools.partial to create a function that multiplies by 2.

from functools import partial

def multiply(x, y):
    return x * y

times_two = partial(multiply, 2)
print("Assignment 9:", times_two(5))  # Output: 10
print("Assignment 9:", times_two(10)) # Output: 20

Assignment 9: 10
Assignment 9: 20

In [ ]:
# Assignment 10
# Define a function that returns the average of a list, handling empty list safely.

def average(numbers):
    if len(numbers) == 0:
        return None
    return sum(numbers) / len(numbers)

print("Assignment 10:", average([1, 2, 3]))  # Output: 2.0
print("Assignment 10:", average([]))         # Output: None

Assignment 10: 2.0
Assignment 10: None

In [ ]:
# Assignment 11
# Define a generator function that yields Fibonacci numbers endlessly.

def fibonacci_generator():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

fib_gen = fibonacci_generator()
print("Assignment 11:", [next(fib_gen) for _ in range(10)])  # Output: first 10 Fibonacci numbers

Assignment 11: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Assignment 12
# Define a curried function to multiply three numbers, one at a time.

def curried_multiply(a):
    def multiply_b(b):
        def multiply_c(c):
            return a * b * c
        return multiply_c
    return multiply_b

result = curried_multiply(2)(3)(4)
print("Assignment 12:", result)  # Output: 24

Assignment 12: 24

In [ ]:
# Assignment 13
# Define a function that writes a list of integers to a file safely.

def write_numbers_to_file(numbers, filename="numbers.txt"):
    try:
        with open(filename, "w") as file:
            for num in numbers:
                file.write(str(num) + "\n")
        print("Assignment 13: Write successful.")
    except Exception as e:
        print(f"Assignment 13: Error - {e}")

write_numbers_to_file([1, 2, 3, 4])

Assignment 13: Write successful.

In [ ]:
# Assignment 14
# Define a function that takes a list of mixed types and separates them into three lists.

def separate_types(lst):
    ints = []
    strs = []
    floats = []
    for item in lst:
        if type(item) == int:
            ints.append(item)
        elif type(item) == str:
            strs.append(item)
        elif type(item) == float:
            floats.append(item)
    return ints, strs, floats

ints, strs, floats = separate_types([1, "a", 2.5, 3, "b", 4.7])
print("Assignment 14:", ints, strs, floats)  # Output: [1,3], ['a','b'], [2.5,4.7]

Assignment 14: [1, 3] ['a', 'b'] [2.5, 4.7]

In [ ]:
# Assignment 15
# Define a function that keeps track of how many times it was called using a mutable default argument.

def call_counter(count=[0]):
    count[0] += 1
    return f"Called {count[0]} times"

print("Assignment 15:", call_counter())
print("Assignment 15:", call_counter())
print("Assignment 15:", call_counter())

Assignment 15: Called 1 times
Assignment 15: Called 2 times
Assignment 15: Called 3 times

In [ ]:
class rectangle():
  def __init__(self,width,height) :
    self.width=width
    self.height=height
  def area(self,colour):
    print(colour)
    return self.width*self.height

In [ ]:
r=rectangle(10,20)
r.area("red")

red

200